body{

font-family: Arial, sans-serif;
margin:0;
padding:0;
text-align:center;

}


section{

padding:50px;

}


h1{

font-size:50px;

}


button{

padding:10px 20px;
cursor:pointer;

}


footer{

padding:20px;
background-color:black;
color:white;

}
@media (max-width:768px){

h1{

font-size:30px;

}

section{

padding:20px;

}

}